@font-face {
  font-family: "Gagalin-Regular";
  src: url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lifehack-Medium";
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
html,
body {
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-weight: 300;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 58.75rem;
  width: 95%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 40.625rem;
}

.section__title {
  font-size: 4.5rem;
  color: #f9b43b;
  margin-bottom: 3.125rem;
  margin-top: 0;
  font-family: "Gagalin-Regular", Helvetica, sans-serif;
  line-height: 1;
}
.section__title--centered {
  text-align: center;
}
.section__title--color--black {
  color: black;
}
@media screen and (max-width: 490px) {
  .section__title {
    font-size: 3.9375rem;
  }
}

.hero {
  background: url(../img/background.png) center center/cover no-repeat;
  color: white;
  justify-content: flex-start;
  position: relative;
}

.hero__content {
  display: flex;
  align-items: center;
  flex: 0.8;
}
@media screen and (max-width: 768px) {
  .hero__content {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .hero__image {
    margin-bottom: 3.125rem;
  }
}
@media screen and (max-width: 490px) {
  .hero__image {
    margin-bottom: 3.125rem;
  }
}

.hero__desc {
  font-size: 4.0625rem;
  font-family: "Lifehack-Medium";
  line-height: 1.1;
}
@media screen and (max-width: 768px) {
  .hero__desc {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 490px) {
  .hero__desc {
    font-size: 3.375rem;
  }
}

.hero__text {
  width: 50%;
  padding-top: 7.5rem;
}
@media screen and (max-width: 768px) {
  .hero__text {
    padding-top: 0em;
    text-align: center;
    width: 100%;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.9375rem;
}

.header__btns {
  display: flex;
  align-items: center;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 0.8125rem;
}

@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  display: flex;
  align-items: center;
}
.menu__item:before {
  content: "";
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background: white;
  margin-left: 0.9375rem;
}
.menu__item:first-child::before {
  display: none;
}

.menu__link {
  margin-left: 0.9375rem;
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  display: inline-flex;
  background-color: #e45028;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 0.875rem;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  margin-left: 0.9375rem;
}
.btn:hover {
  background-color: #c1401e;
}

.btn__hover {
  background-color: #2f3234;
  margin-left: 0;
}
.btn__hover:hover {
  background-color: #1f2122;
}
@media screen and (max-width: 490px) {
  .btn__hover {
    display: none;
  }
}

.btn__hover--phones {
  display: none;
}
@media screen and (max-width: 490px) {
  .btn__hover--phones {
    display: inline-flex;
  }
}

.scroll-down {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translatex(-50%);
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.features {
  background: url(../img/bg.png) center center/cover no-repeat;
}

@media screen and (max-width: 490px) {
  .section__title .section__title--phones {
    font-size: 3.125rem;
  }
}

.features__list {
  display: flex;
}
@media screen and (max-width: 490px) {
  .features__list {
    flex-direction: column;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media screen and (max-width: 490px) {
  .features__item {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;
  }
}

.feature {
  text-align: center;
}
@media screen and (max-width: 490px) {
  .feature {
    text-align: left;
  }
}

.feature__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.1875rem;
}
@media screen and (max-width: 490px) {
  .feature__img {
    margin-bottom: 0;
  }
}

.feature__title {
  font-size: 1.5rem;
  font-family: "Lifehack-Medium";
}

.feature__text {
  font-size: 0.875rem;
  font-family: "Ubuntu";
  font-weight: 500;
}
@media screen and (max-width: 490px) {
  .feature__text {
    text-align: left;
  }
}

@media screen and (max-width: 490px) {
  .feature__content {
    margin-left: 1.25rem;
    width: 100%;
  }
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.reviews__item {
  width: 25%;
  height: 50%;
}
@media screen and (max-width: 768px) {
  .reviews__item {
    width: 50%;
    height: 25%;
  }
}

.reviews {
  height: 100vh;
  min-height: 40.625rem;
}

.review {
  position: relative;
  color: white;
}
.review:hover .review__hover {
  opacity: 1;
  transform: scale(1);
}

.review__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.3s;
  transform: scale(0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.review__pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review__username {
  font-size: 0.875rem;
  font-family: "Gagalin-Regular";
  margin-bottom: 0.9375rem;
}
@media screen and (max-width: 490px) {
  .review__username {
    font-size: 1.5rem;
  }
}

.review__content {
  font-size: 0.875rem;
  font-family: "Ubuntu";
  font-weight: 300;
  margin-bottom: 0.9375rem;
}
@media screen and (max-width: 490px) {
  .review__content {
    display: none;
  }
}

.review__item {
  text-align: left;
}

.review__img-wrapper {
  height: 100%;
}

.review__hover-content {
  padding: 1.25rem;
  max-width: 18.125rem;
}
@media screen and (max-width: 768px) {
  .review__hover-content {
    text-align: center;
  }
}

.team {
  background: url(../img/team_bg.png) center center/cover no-repeat;
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.team__content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(47, 50, 52, 0.9);
  width: 50%;
  height: 100%;
  padding-left: 13%;
  padding-top: 8%;
}
@media screen and (max-width: 768px) {
  .team__content {
    width: 100%;
    text-align: center;
    padding-left: 0%;
    justify-content: center;
  }
}
@media screen and (max-width: 490px) {
  .team__content {
    padding-top: 0;
    justify-content: center;
  }
}

.team__member {
  font-family: "Gagalin-Regular";
  font-size: 0.875rem;
  color: white;
  margin-bottom: 0.9375rem;
}
.team__member::before {
  content: "";
  display: inline-block;
  border: 0.4375rem solid transparent;
  border-left-width: 0.3125rem;
  border-right-width: 0.3125rem;
  border-top-color: #f9b43b;
  border-bottom: none;
  margin-right: 0.625rem;
}
@media screen and (max-width: 768px) {
  .team__member {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 490px) {
  .team__member {
    font-size: 1.5rem;
  }
}

.team__item {
  margin-bottom: 3.125rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 490px) {
  .team__item {
    margin-bottom: 2.75rem;
  }
}

.member__content {
  display: inline-flex;
  height: 0;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .member__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.member__picture {
  border-radius: 50%;
  overflow: hidden;
  width: 6.25rem;
  height: 6.25rem;
  margin-right: 1.25rem;
}
@media screen and (max-width: 768px) {
  .member__picture {
    margin-right: 0;
    margin-bottom: 0.625rem;
  }
}

.member__img {
  object-fit: cover;
  height: 100%;
}

.member__position {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 0.875rem;
  color: white;
}

.member__text {
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 0.875rem;
  color: white;
  margin-top: 1.25rem;
}

.member__info {
  max-width: 13.125rem;
}
@media screen and (max-width: 490px) {
  .member__info {
    max-width: 21.25rem;
  }
}

.team__item_active .team__member {
  color: #f9b43b;
}
.team__item_active .team__member::before {
  content: "";
  display: inline-block;
  border: 0.4375rem solid transparent;
  border-left-width: 0.3125rem;
  border-right-width: 0.3125rem;
  border-bottom-color: #f9b43b;
  border-top: none;
  margin-right: 0.625rem;
}
.team__item_active .member__content {
  overflow: visible;
  height: 100%;
}

.kitchen {
  background: url(../img/kitchen-bg.png) center center/cover no-repeat;
  display: flex;
  position: relative;
}

.section__title--top {
  display: flex;
  position: absolute;
  top: 0;
  left: 3.75rem;
}

.section__title--white {
  color: white;
  display: flex;
}

.kitchen__title {
  font-family: "Gagalin-Regular", Helvetica, sans-serif;
  font-size: 2.5rem;
  color: white;
  padding-top: 0.9375rem;
}

.kitchen__link {
  display: flex;
  writing-mode: vertical-rl;
  align-items: center;
  transform: rotate(180deg);
  height: 100vh;
  width: 3.75rem;
  align-items: center;
}

.kitchen__item {
  display: flex;
}

.kitchen__info {
  background: rgba(47, 50, 52, 0.7);
  overflow: hidden;
  width: 0;
}

.kitchen__text {
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 0.875rem;
  color: white;
  min-width: 40%;
  padding: 14% 4%;
}

.kitchen__list {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.kitchen__item--active .kitchen__info {
  max-width: 25rem;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .kitchen__item--active .kitchen__info {
    max-width: 18.75rem;
  }
}
.kitchen__item--active .kitchen__title {
  color: #f9b43b;
}

.map {
  display: flex;
  position: relative;
  background: url(../img/map.png) center center/cover no-repeat;
}

.footer__container {
  display: flex;
}
@media screen and (max-width: 490px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}

.footer {
  display: flex;
  background: url(../img/footer-bg.png) center center/cover no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media screen and (max-width: 490px) {
  .footer {
    padding: 1.25rem 1.25rem;
  }
}

.footer__left {
  display: flex;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: 490px) {
  .footer__left {
    justify-content: center;
    width: 100%;
  }
}

.footer__right {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 490px) {
  .footer__right {
    justify-content: center;
    width: 100%;
  }
}

.adress {
  display: flex;
  flex-direction: column;
  color: white;
}
@media screen and (max-width: 490px) {
  .adress {
    text-align: center;
    align-items: center;
    margin-bottom: 0.625rem;
  }
}

.socials__list {
  display: flex;
}

.socials__item {
  margin-right: 1.5625rem;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: flex;
}

.tell {
  display: flex;
  align-items: center;
  color: #e45028;
}
.tell::before {
  content: "";
  width: 0.9375rem;
  height: 0.9375rem;
  background: url(../img/icons/phone.svg) center center/cover no-repeat;
  margin-right: 0.625rem;
}

.socilas__svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: gray;
}
.socilas__svg:hover {
  fill: white;
  transition: 0.3s;
}

.order-section {
  background: url(../img/order-bg.png) center center/cover no-repeat;
}

.order {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .order {
    flex-direction: column;
    align-items: center;
  }
}

.order__col {
  width: calc(50% - 10px);
}
@media screen and (max-width: 490px) {
  .order__col {
    width: 100%;
  }
}

.order__col--right {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .order__col--right {
    margin-left: 0;
  }
}

.order__row {
  margin-bottom: 1.5rem;
  display: flex;
}

.order__block {
  flex: 1;
  margin-right: 2rem;
}
.order__block:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .order__block {
    margin-right: 1rem;
  }
}

.order__radio {
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  margin-right: 1.25rem;
  margin-bottom: 0.9375rem;
}
.order__radio .order__title {
  margin-bottom: 0;
}

.order__title {
  margin-bottom: 0.5rem;
  color: white;
  font-family: "Ubuntu";
  font-size: 0.875rem;
  font-weight: 300;
}

.order__input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.4rem;
  outline: transparent;
  border: 0.0625rem solid transparent;
}
.order__input:focus {
  border: 0.0625rem solid orange;
}

.order__input-radio:checked + .order__input-style {
  transition: 0.3s;
  border-color: #f9b43b;
}
.order__input-radio:checked + .order__input-style::before {
  height: 0.5rem;
  width: 0.5rem;
}

.order__input-radio {
  position: absolute;
  top: 0;
  left: -624.9375rem;
}

.order__input-style {
  display: flex;
  margin-right: 0.625rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid gray;
  justify-content: center;
  align-items: center;
}
.order__input-style::before {
  content: "";
  display: flex;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #f9b43b;
}

.order__input-checkbox {
  position: absolute;
  top: 0;
  left: -624.9375rem;
}

.order__checkbox-style {
  display: flex;
  margin-right: 0.625rem;
  width: 1rem;
  height: 1rem;
  border: 0.0625rem solid gray;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.order__checkbox-style::before {
  content: "";
  display: flex;
  background: url(../img/galka.png) center center/cover no-repeat;
  width: 0rem;
  height: 0rem;
  align-items: center;
  justify-content: center;
}

.order__input-checkbox:checked + .order__checkbox-style {
  transition: 0.3s;
}
.order__input-checkbox:checked + .order__checkbox-style::before {
  width: 0.5rem;
  height: 0.5rem;
}

.order__buttons {
  display: flex;
}

.btn--order {
  margin-left: 0;
  margin-right: 1rem;
}
.btn--order:last-child {
  margin-right: 0;
}

.btn_cancel {
  background-color: transparent;
}

.order__textarea {
  overflow: auto;
  height: 8.75rem;
  resize: none;
}

.pagination {
  position: fixed;
  top: 30%;
  right: 3.125rem;
  z-index: 100;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .pagination {
    display: none;
  }
}
.pagination__item {
  margin-bottom: 0.9375rem;
  position: relative;
}
.pagination__item:last-child {
  margin-bottom: 0;
}
.pagination__item-active::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border: 0.0625rem solid #fff;
  border-radius: 50%;
}
.pagination__link {
  display: block;
  align-items: center;
  justify-content: center;
  background: white;
  width: 0.5625rem;
  height: 0.5625rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.pagination__link:hover {
  background: #ccc;
}

.hamburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  align-items: center;
  margin-left: 1.875rem;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger-menu-link {
    display: inline-flex;
  }
}

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem;
}
.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute;
}
.hamburger-menu-link__bars:before {
  top: 0;
}
.hamburger-menu-link__bars:after {
  bottom: 0;
}

/*# sourceMappingURL=main.css.map */
