.btn{
  display: inline-flex;
  background-color: #e45028;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: 'Ubuntu';
	
	font-weight: 500;
  font-size: rem(14px);
  padding: rem(10px) rem(15px);
  border-radius: rem(5px);
  
  &:hover{
    background-color: #c1401e;
  }
}

.btn__ml{
  margin-left: rem(15px);
}

.btn__hover{
  background-color: #2f3234;
  margin-left: 0;
  &:hover{
    background-color: #1f2122;
  }
  @include phones{
    display: none;
  }
}

.btn__hover--phones{
  display: none;
  @include phones{
    display: inline-flex;
  }
}

