.feature{
  text-align: center;
}

.feature__img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(35px);
}

.feature__title{
  font-size: rem(24px);
  font-family: 'Lifehack-Medium';
}

.feature__text {
  font-size: rem(14px);
  font-family: 'Ubuntu';
	font-weight: 500;
}