.features{
  background: url(../img/bg.png) center center / cover no-repeat;
}


.section__title{
  @include phones{
    .section__title--phones{
      font-size: rem(50px);
    }
  }
}

.features__list{
  display: flex;
  @include phones{
    flex-direction: column;
  }
}

.features__item{
  display: flex;
  flex-direction: column;
  flex: 1;
@include phones{
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(20px);
  

}
}