.features{
  background: url(../img/bg.png) center center / cover no-repeat;
}


.features__list{
  display: flex;
  @include phones{
    flex-direction: column;
  }
}

.features__item{
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - rem(26px));
@include phones{
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(20px);
  

}
}