.feature{
  text-align: center;
}

.feature__img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.feature__title{
  font-size: 24px;
  font-family: 'Lifehack-Medium';
}

.feature__text {
  font-size: 14px;
  font-family: 'Ubuntu';
	font-weight: 500;
}