.feature{
  text-align: center;
  @include phones{
    text-align: left;
  }
}

.feature__img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(35px);
  @include phones{
    margin-bottom: 0;
    width: 100%;
  }
}

.feature__title{
  font-size: rem(24px);
  font-family: 'Lifehack-Medium';
}

.feature__text {
  font-size: rem(14px);
  font-family: 'Ubuntu';
  font-weight: 500;
  @include phones{
    text-align: left;
    
  }
}


.feature__content{
  @include phones{
    margin-left: rem(20px);
    width: 100%;
  }
}