
.footer__container{
  display: flex;
  
}



.footer{
  display: flex;
  background: url(../../img/footer-bg.png) center center / cover no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  height: 60px;
}


.footer__left{
  display: flex;
  align-items: center;
  width: 50%;
}

.footer__right{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
}


.adress{
  display: flex;
  flex-direction: column;
  color: white;
}

.socials__list{
  display: flex;
  
}

.socials__item{
  margin-right: 25px;
  &:last-child{
    margin-right: 0;
  }
}

.socials__link{
  display: flex;
  
  :hover{
   opacity: .5;
  }
}

.tell{
  color: #e45028;
  ::before{
    content: "";
    background: url(../img/phone.png);
  }
  :hover{
    color: white;
  }
}