
.footer__container{
  display: flex;
  @include phones{
    flex-direction: column;
    align-items: center;
  }
}



.footer{
  display: flex;
  background: url(../img/footer-bg.png) center center / cover no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  height:rem(60px);
@include phones{
  height: 3%;
}
  
}



.footer__left{
  display: flex;
  align-items: center;
  width: 50%;
}

.footer__right{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  @include phones{
    justify-content: center;
  }
}


.adress{
  display: flex;
  flex-direction: column;
  color: white;
  @include phones{
    text-align: center;
    align-items: center;
    margin-bottom: rem(10px);
  }
}

.socials__list{
  display: flex;
  
}

.socials__item{
  margin-right: rem(25px);
  &:last-child{
    margin-right: 0;
  }
}


.socials__link{
  display: flex;
}
.tell{
  display: flex;
  align-items: center;
  color: #e45028;
  &::before{
    content: "";
    width: rem(15px);
    height: rem(15px);
    background: url(../../img/icons/phone.svg) center center / cover no-repeat;
    margin-right: rem(10px);
  }

}

.socilas__svg{
  width: rem(20px);
  height: rem(20px);
  fill: gray;
  &:hover{
    fill: white;
    transition: .3s;
  }
}