.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(15px);

 
}


.header__btns{
  display: flex;
  align-items: center;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: rem(13px);
}

.header__menu{
  @include tablets{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(47, 50, 52, 0.9);
    z-index: 1;
  }
}

.header__menu--active{
  display: block;
}