.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(15px);
}


.header__btns{
  display: flex;
  align-items: center;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: rem(13px);
}