.kitchen{
  background: url(../img/kitchen-bg.png) center center / cover no-repeat;
  display: flex;
  position: relative;
}

.section__title--top{
  display: flex;
  position: absolute;
  top: 0;
  left: rem(60px);
}

.section__title--white{
  color: white;
  display: flex;
  
   
}


.kitchen__title{
   font-family: 'Gagalin-Regular', Helvetica, sans-serif;
    font-size: rem(40px);
    color: white;
    padding-top: rem(15px);
    
}

.kitchen__link{
  display: flex;
  writing-mode: vertical-rl;
  align-items: center;
transform: rotate(180deg);
height: 100vh;
width: rem(60px);
align-items: center;

}

.kitchen__item{
  display: flex;
  
}

.kitchen__info{
  background: rgba(47, 50, 52, 0.7);
  overflow: hidden;
 width: 0;
}

.kitchen__text{
  font-family: 'Ubuntu';	
  font-weight: 300;
  font-size: rem(14px);
  color: white;
  min-width: 40%;
  padding: 14% 4%;
}


.kitchen__list{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.kitchen__item--active{
  .kitchen__info{
    max-width: rem(540px);
    width: 100%;
  }

  .kitchen__title{
    color: #f9b43b;
  }
}