.team__member{
  font-family: 'Gagalin-Regular';
  font-size: rem(14px);
  color: white;
  margin-bottom: rem(15px);
  &::before{
    content: "";
    display: inline-block;
    border: rem(7px) solid transparent;
    border-left-width: rem(5px);
    border-right-width: rem(5px);
    border-top-color: #f9b43b;
    border-bottom: none;
    margin-right: rem(10px);
  }
  @include tablets{
    font-size: rem(24px);
  }
  @include phones{
    font-size: rem(24px);
  }
}


.team__item{
  margin-bottom: rem(50px);
  display: flex;
  flex-direction: column;
  @include phones{
    margin-bottom: rem(44px);
  }
}

.member__content{
  display: inline-flex;
  height: 0;
  overflow: hidden;
  @include tablets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.member__picture{
  border-radius: 50%;
  overflow: hidden;
  width: rem(100px);
  height: rem(100px);
  margin-right: rem(20px);

  @include tablets {
    margin-right: 0;
    margin-bottom: rem(10px);
  }
}
.member__img{
  object-fit: cover;
  height: 100%;
}

.member__position{
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: rem(14px);
  color: white;
  
}

.member__text{
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: rem(14px);
  color: white;
  margin-top: rem(20px);
}

.member__info{
  
  max-width: rem(210px);
  @include phones{
    max-width: rem(340px);
  }
}

.team__item_active{
  .team__member{
    color: #f9b43b;
    &::before{
      content: "";
    display: inline-block;
    border: rem(7px) solid transparent;
    border-left-width: rem(5px);
    border-right-width: rem(5px);
    border-bottom-color: #f9b43b;
    border-top: none;
    margin-right: rem(10px);
    }
  }

  .member__content{
    overflow: visible;
    height: 100%;
  }
}