$itemsMargin:rem(15px);




.menu__list{
  display: flex;
  align-items: center;
}

.menu__item{
  display: flex;
  align-items: center;
&:before{
  content: "";
  display: block;
  width: rem(4px);
  height: rem(4px);
  border-radius: 50%;
  background: white;
  margin-left: $itemsMargin;
}
&:first-child {
  &::before{
    display: none;
  }
}

}

.menu__link{
  margin-left: $itemsMargin;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  &:hover{
    color: #e45028;
  }
}