.reviews__list{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.reviews__item{
  width: 25%;
  height: 50%;

  @include tablets{
    width: 50%;
    height: 25%;
  }
}

.reviews{
  height: 100vh;
  min-height: rem(650px);
}