.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: rem(650px);
}


.section__title{
  font-size: rem(72px);
  color: #f9b43b;
  margin-bottom: rem(50px);
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  line-height: 1;
  &--centered{
    text-align: center;
  }
  &--color--black{
    color: black;
  }

  @include tablets{
    margin-bottom: rem(10px);
  }
}